body {
    background: url(../Pics_for_Tri/annie-spratt-450561-unsplash.jpg)no-repeat center center fixed;
    background-size: cover;
}

h1 {
    font-family: font-family: 'Chakra Petch', sans-serif;
}

p1 {
    color: aliceblue;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
