body {
    background: url(../Pics_for_Tri/lweendo-hachileka-708536-unsplash.jpg)no-repeat center center fixed;
    background-size: cover;
}

h1 {
    color: green;
    font-family: fantasy;
    text-align: center;
}

p1 {
    font-family: inherit;
    color: crimson;
    font-size: 23;
}

p2 {
    font-family: inherit;
    color: crimson;
    font-size: 23;
}

p3 {
    font-family: inherit;
    color: crimson;
    font-size: 23;
}

p4 {
    font-family: inherit;
    color: crimson;
    font-size: 23;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.lightbg{
    background-color: rgba(255,255,255,.5);
    
}
