body {
    background: url(../Pics_For_Site/daniel-cheung-129839-unsplash.jpg) no-repeat center center fixed;
    background-size: cover;
}

h1 {
    text-align: center;
    font-family: 'Permanent Marker', cursive;
    font-size: 40;
    color: red;
}

.resize {
    width: 400px;
    height: auto;
}

.resize {
    width: 300px;
    height: auto;
}
