body {
    background: url(../Pics_For_Site/asoggetti-718108-unsplash.jpg)no-repeat center center fixed;
    background-size: cover;
}

h1 {
    text-align: center;
    font-family: 'Acme', sans-serif;
    font-size: 45;
}

p1 {
    text-align: center;
    color: burlywood;
    font-family: 'Francois One', sans-serif;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
