body {
    background: url(../Pictures_for_website/isaac-mehegan-1101599-unsplash.jpg) no-repeat center center fixed;
    background-size: cover;
    font-family: "Comic Sans MS", cursive, sans-serif;
}

h1 {
    text-align: center;
    font-family: 'Fredoka One', cursive;
}

p1 {
    text-align: center;
    font-family: 'Concert One', cursive;
    font-size: 25;
}

p2 {
    text-align: center;
    font-family: 'Concert One', cursive;
    font-size: 25;
}
