body {
    background: url(../Pictures_for_website/paul-lucaci-763750-unsplash.jpg) no-repeat center center fixed;
    background-size: cover;
    font-family: "Courier New", Courier, monospace;
}

a {
    font-family: 'Bungee', cursive;
}

h1 {
    font-family: 'Patua One', cursive;
    text-align: center;
    font-size: 45;
}

p {
    font-size: 25;
    font-family: 'Righteous', cursive;
    text-align: center;
    color: white;
}
