body {
        background: url(../Pictures_for_website/paul-lucaci-763750-unsplash.jpg) no-repeat center center fixed;
        background-size: cover;
        font-family: "Courier New", Courier, monospace;
    }